[package]
name = "procs"
version = "0.7.4"
authors = ["dalance@gmail.com"]
repository = "https://github.com/dalance/procs"
keywords = ["process"]
categories = ["command-line-utilities"]
license = "MIT"
readme = "README.md"
description = "A modern replacement for ps"
edition = "2018"
build = "build.rs"
exclude = [
    "src/columns/linux/*",
    "src/columns/macos/*",
    "src/columns/windows/*",
]

[badges]
travis-ci = { repository = "dalance/procs" }
codecov   = { repository = "dalance/procs", branch = "master", service = "github" }

[dependencies]
console       = "0.7.5"
chrono        = "0.4.6"
dirs          = "1.0.4"
dockworker    = "0.0.8"
failure       = "0.1.5"
getch         = "0.2.1"
lazy_static   = "1.2.0"
libc          = "0.2.48"
serde         = "1.0.33"
serde_derive  = "1.0.33"
structopt     = "0.2.14"
toml          = "0.4.5"
unbytify      = "0.2.0"
unicode-width = "0.1.5"

[build-dependencies]
fs_extra      = "1.1.0"

[target.'cfg(target_os = "linux")'.dependencies]
pager         = "0.15.0"
procfs        = "0.4.7"
quale         = "1.0.0"
users         = "0.8.1"

[target.'cfg(target_os = "macos")'.dependencies]
#libproc       = "0.3.2"
#libproc       = { version = "0.3.2", path = "./modified/libproc-rs" }
errno         = "^0.1.8"
pager         = "0.15.0"
quale         = "1.0.0"
users         = "0.8.1"

[target.'cfg(target_os = "windows")'.dependencies]
winapi        = { version = "0.3.6", features = ["handleapi", "minwindef", "psapi", "securitybaseapi", "tlhelp32", "winbase", "winnt"] }

[package.metadata.release]
dev-version-ext            = "pre"
pre-release-commit-message = "Prepare to v{{version}}"
pro-release-commit-message = "Start next development iteration v{{version}}"
tag-message                = "Bump version to {{version}}"
tag-prefix                 = "v"
pre-release-replacements = [
    {file="CHANGELOG.md", search="Unreleased", replace="v{{version}}"},
    {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}"},
    {file="CHANGELOG.md", search="Change Log", replace="Change Log\n\n## [Unreleased](https://github.com/dalance/procs/compare/v{{version}}...Unreleased) - ReleaseDate"},
    {file="README.md", search = "changelog-v[0-9\\.]+", replace = "changelog-v{{version}}" },
]
