[package]
name = "procs"
version = "0.8.6-pre"
authors = ["dalance@gmail.com"]
repository = "https://github.com/dalance/procs"
keywords = ["process"]
categories = ["command-line-utilities"]
license = "MIT"
readme = "README.md"
description = "A modern replacement for ps"
edition = "2018"
build = "build.rs"
exclude = [
    "src/columns/common.rs",
]

[badges]
travis-ci = { repository = "dalance/procs" }
codecov   = { repository = "dalance/procs", branch = "master", service = "github" }

[dependencies]
console       = "0.7.5"
chrono        = "0.4.6"
directories   = "1.0.2"
dockworker    = "0.0.8"
failure       = "0.1.5"
getch         = "0.2.1"
lazy_static   = "1.2.0"
libc          = "0.2.48"
serde         = "1.0.33"
serde_derive  = "1.0.33"
structopt     = "0.2.14"
toml          = "0.4.5"
unbytify      = "0.2.0"
unicode-width = "0.1.5"

[target.'cfg(target_os = "linux")'.dependencies]
pager         = "0.15.0"
palaver       = { version = "0.2.1", default-features = false }
procfs        = "0.5.0"
quale         = "1.0.0"
runas         = "0.1.4"
users         = "0.8.1"

[target.'cfg(target_os = "macos")'.dependencies]
#libproc       = "0.3.2"
#libproc       = { version = "0.3.2", path = "./modified/libproc-rs" }
errno         = "^0.1.8"
pager         = "0.15.0"
palaver       = { version = "0.2.1", default-features = false }
quale         = "1.0.0"
runas         = "0.1.4"
users         = "0.8.1"

[target.'cfg(target_os = "windows")'.dependencies]
winapi        = { version = "0.3.6", features = ["handleapi", "minwindef", "psapi", "securitybaseapi", "tlhelp32", "winbase", "winnt"] }

[package.metadata.release]
dev-version-ext            = "pre"
pre-release-commit-message = "Prepare to v{{version}}"
pro-release-commit-message = "Start next development iteration v{{version}}"
tag-message                = "Bump version to {{version}}"
tag-prefix                 = "v"
pre-release-replacements = [
    {file="CHANGELOG.md", search="Unreleased", replace="v{{version}}"},
    {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}"},
    {file="CHANGELOG.md", search="Change Log", replace="Change Log\n\n## [Unreleased](https://github.com/dalance/procs/compare/v{{version}}...Unreleased) - ReleaseDate"},
    {file="README.md", search = "changelog-v[0-9\\.]+", replace = "changelog-v{{version}}" },
]
