[package]
name = "procs"
version = "0.9.21-pre"
authors = ["dalance@gmail.com"]
repository = "https://github.com/dalance/procs"
keywords = ["process"]
categories = ["command-line-utilities"]
license = "MIT"
readme = "README.md"
description = "A modern replacement for ps"
edition = "2018"
exclude = ["img/*"]

[package.metadata.release]
dev-version-ext             = "pre"
pre-release-commit-message  = "Prepare to v{{version}}"
post-release-commit-message = "Start next development iteration v{{version}}"
tag-message                 = "Bump version to {{version}}"
tag-prefix                  = ""
pre-release-replacements = [
    {file="CHANGELOG.md", search="Unreleased", replace="v{{version}}"},
    {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}"},
    {file="CHANGELOG.md", search="Change Log", replace="Change Log\n\n## [Unreleased](https://github.com/dalance/procs/compare/v{{version}}...Unreleased) - ReleaseDate"},
    {file="README.md", search = "changelog-v[0-9\\.]+", replace = "changelog-v{{version}}" },
    {file="README.md", search = "v[0-9\\.]+/procs-[0-9\\.]+", replace = "v{{version}}/procs-{{version}}" },
    {file="snapcraft.yaml", search="version v[0-9\\.]+", replace="version v{{version}}"},
]

[features]
default = ["docker"]
docker = ["dockworker"]

[badges]
travis-ci = { repository = "dalance/procs" }
codecov   = { repository = "dalance/procs", branch = "master", service = "github" }

[dependencies]
anyhow        = "1.0"
byte-unit     = "3"
console       = "0.9.2"
chrono        = "0.4"
directories   = "2.0"
dockworker    = { version = "0.0.15", optional = true }
getch         = "0.2"
lazy_static   = "1.2"
libc          = "0.2"
serde         = "1.0"
serde_derive  = "1.0"
structopt     = "0.3"
toml          = "0.5"
unicode-width = "0.1"

[target.'cfg(target_os = "linux")'.dependencies]
pager         = "0.15"
process_path  = "0.1"
procfs        = "0.7.1"
users         = "0.9"
which         = "3"

[target.'cfg(target_os = "macos")'.dependencies]
libproc       = "0.5"
errno         = "0.2"
pager         = "0.15"
process_path  = "0.1"
users         = "0.9"
which         = "3"

[target.'cfg(target_os = "windows")'.dependencies]
winapi        = { version = "0.3", features = ["handleapi", "minwindef", "psapi", "securitybaseapi", "tlhelp32", "winbase", "winnt"] }

[package.metadata.rpm.cargo]
buildflags = ["--release"]
target = "x86_64-unknown-linux-musl"

[package.metadata.rpm.targets]
procs = { path = "/usr/bin/procs" }
