[package]
name = "procs"
version = "0.4.1-pre"
authors = ["dalance@gmail.com"]
repository = "https://github.com/dalance/procs"
keywords = ["process"]
categories = ["command-line-utilities"]
license = "MIT"
readme = "README.md"
description = "A modern replacement for ps"
edition = "2018"

[badges]
travis-ci = { repository = "dalance/procs" }
codecov   = { repository = "dalance/procs", branch = "master", service = "github" }

[dependencies]
console      = "0.7.5"
chrono       = "0.4.6"
dirs         = "1.0.4"
dockworker   = "0.0.8"
failure      = "0.1.5"
lazy_static  = "1.2.0"
pager        = "0.15.0"
procfs       = "0.4.3"
serde        = "1.0.33"
serde_derive = "1.0.33"
structopt    = "0.2.14"
toml         = "0.4.5"
unbytify     = "0.2.0"
users        = "0.8.1"

[package.metadata.release]
dev-version-ext            = "pre"
pre-release-commit-message = "Prepare to v{{version}}"
pro-release-commit-message = "Start next development iteration v{{version}}"
tag-message                = "Bump version to {{version}}"
tag-prefix                 = "v"
